{% load static %}
{% spaceless %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.6.0/dt-1.13.2/af-2.5.2/b-2.3.4/cr-1.6.1/date-1.3.0/fc-4.2.1/fh-3.3.1/kt-2.8.1/r-2.4.0/rg-1.3.0/rr-1.3.2/sc-2.1.0/sb-1.4.0/sp-2.1.1/sl-1.6.0/sr-1.2.1/datatables.min.css"/>
    <!-- Datatables -->
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.6.0/dt-1.13.2/af-2.5.2/b-2.3.4/cr-1.6.1/date-1.3.0/fc-4.2.1/fh-3.3.1/kt-2.8.1/r-2.4.0/rg-1.3.0/rr-1.3.2/sc-2.1.0/sb-1.4.0/sp-2.1.1/sl-1.6.0/sr-1.2.1/datatables.min.js"></script>
    <!-- sorting date dd/mm/YYYY -->
    <script src="//cdn.datatables.net/plug-ins/1.13.3/sorting/date-uk.js"></script>   
    <!-- <link rel="stylesheet/less" type="text/css" href="{% static 'less/base.less' %}"> -->
    
    {% block stylesheet %} {% endblock %}
    <!-- <script src="{% static 'less/less.min.js' %}"></script> -->
</head>

<style>
    .navbar{
        margin-bottom: 20px;
    }
</style>

<body>

    {% block style %}{% endblock style %}

    {% include 'navbar.html' %}

    {% block content %}
    {% block header %} {% endblock header %}
    {% endblock content %}

    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js.map' %}"></script>

    {% block script %} {% endblock %}

</body>
</html>
{% endspaceless %}