{% extends 'base.html' %}
{% load humanize %} 

{% block title %}{% endblock %}

{% block content %}
<div class="container-fluid">
    
    <div class="col-lg-7">
        <h1>Clientes</h1>

        <table id="clientes_table" class="display">

            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Documento</th>
                    <th>Nível de Risco</th>
                    <th>Data da Análise</th>
                    <th>Editar</th>
                </tr>
            </thead>

            <tbody>

                {% for cliente in clientes %}
                    <tr>
                        <td>{{ cliente.nome }}</td>
                        <td>{{ cliente.documento }}</td>
                        <td>{{ cliente.nivel_risco }}</td>
                        <td>{{ cliente.data_analise|date:"d/m/Y" }}</td>
                        <td><a href="{% url 'update_cliente' cliente.documento %}"><button type="submit" class="btn btn-primary">Editar</button></a></td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
</div>


<script>
    $(document).ready( function () {
    $('#clientes_table').DataTable({
        // ordering: true,
        
    });
    
} );
</script>
{% endblock %}

<td><a href="{% url 'update_cliente' cliente.id %}">Editar</a></td>
<td><a href="{% url 'delete_cliente' cliente.id %}">Excluir</a></td>