{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% crispy example_form example_form.helper %}


{% block title %}Home{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'bootstrap/checkout/form-validation.css' %}">
<link rel="stylesheet/less" type="text/css" href="{% static 'less/forms.less' %}">
{% endblock %}

{% block style %}
{% endblock %}

{% block content %}

    <div class="container-fluid">
        
        <div class="row">

            <div class="col-lg-5" id="cliente_form_div_id">
                <h3>Clientes</h3>

                <!-- {% if messages %}
                    {% for message in messages %}
                        {% if message.tags == 'cliente success' %}
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% elif message.tags == 'cliente error' %}
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}

                {% if messages %}
                    {% for message in messages %}
                        {% if message.tags == 'parcela success' %}
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% elif message.tags == 'parcela error' %}
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %} -->
                
                <form action="{% url 'create_cliente' %}" data-csrf="{{ csrf_token }}" method="POST" id="create_cliente_form_id" class="needs-validation" novalidate>

                    {% include 'forms_alerts.html' %}

                    {{ form|crispy }}

                    <button type="submit" class="btn btn-primary">
                        Adicionar Cliente
                    </button>
                </form>
                
            </div>

            <div class="col-lg-5" id="vendas_form_div">
                <h3>Vendas</h3>

                
                <form action="{% url 'create_vendas' %}" data-csrf="{{ csrf_token }}" method="POST" id="create_venda_form_id" class="needs-validation" novalidate>

                    {% include 'forms_alerts.html' %}

                    {{ form2|crispy }}

                    <button type="submit" class="btn btn-primary">
                        Adicionar Venda
                    </button>
                </form>

            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
<script src="{% static 'bootstrap/checkout/form-validation.js' %}"></script>
<script src="{% static 'js/mixins.js' %}" ></script>

<script>
const form_cliente = document.getElementById("create_cliente_form_id");
Object.assign(form_cliente, FormSubmitMixin.methods);
form_cliente.addEventListener("submit", form_cliente.submitForm);

const form_venda = document.getElementById("create_venda_form_id");
Object.assign(form_venda, FormSubmitMixin.methods);
form_venda.addEventListener("submit", form_venda.submitForm);
</script>
<!-- <script>
    const closeButtons = document.querySelectorAll('.btn-close');
  
    closeButtons.forEach(function(closeButton) {
      closeButton.addEventListener('click', function() {
        const alert = this.parentNode;
        alert.classList.toggle('d-none');
      });
    });
</script> -->

{% endblock script %}