{% extends 'base.html' %}

{% load humanize %} 

{% block title %}{% endblock %}

{% block content %}
<div class="container-fluid">
    <a href="{% url 'cliente_list' %}">
        <button type="submit" class="btn btn-primary">Lista de Clientes</button>
    </a>

    <a href="{% url 'vendas_list' %}">
        <button type="submit" class="btn btn-primary">Lista de Vendas</button>
    </a>

    <a href="{% url 'parcelas_list' %}">
        <button type="submit" class="btn btn-primary">Lista de Parcelas</button>
    </a>
    <div class="col-lg-12">
        <!-- <h1 vendas</h1> -->

        <table id="vendas_table" class="display">

            <thead>
                <tr>
                    <th>Número Pedido</th>
                    <th>CPF/CNPJ</th>
                    <th>Data Pedido</th>
                    <th>Valor Pedido</th>
                    <th>Valor Entrada</th>
                    <th>Valor Parcelado</th>
                    <th>Qnt. Parcelas</th>
                    <th>Status</th>
                    <th>Editar</th>
                </tr>
            </thead>

            <tbody>

                {% for venda in vendas %}
                    <tr>
                        <td>{{ venda.num_pedido }}</td>
                        <td>{{ venda.documento }}</td>
                        <td>{{ venda.data_pedido|date:"d/m/Y" }}</td>
                        <td>{{ venda.valor_pedido|intcomma }}</td>
                        <td>{{ venda.valor_entrada|intcomma }}</td>
                        <td>{{ venda.valor_parcelado }}</td>
                        <td>{{ venda.qnt_parcelas }}</td>
                        <td>{{ venda.status }}</td>
                        <td><a href="{% url 'update_venda' venda.num_pedido %}">Editar</a></td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
</div>


<script>
    $(document).ready( function () {
    $('#vendas_table').DataTable({
        // ordering: true,
    });
    
} );
</script>
{% endblock %}